<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.Parizat.Shortstorygenerate"
 
    version     = "1.0.0" >



  <name>Generate Short Story</name>

  <description>
      Generates short story seeds randomly
  </description>

  <author email="parizat1000@gmail.com">
      Parizat
  </author>

</widget>
